BITO_API_KEY=dekor-house:YOUR_TOKEN
BITO_JWT=Bearer eyJ...
BITO_ORG_ID=6701170d334dc069f51e4c82
BITO_PRICE_ID=6706187e485b322ea8c90155
SUPABASE_DSN=postgresql://postgres.xxx:PASSWORD@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
GITHUB_BASE=https://zafarovpolat.github.io/bito-cat-zelen/edited
